<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome {{title}}!
  </h1>
  <img src="../assets/gopnik.jpg" alt="">
</div>
<h1>Type your text here and I will translate it, so nobody will find out that you are filthy <span>American spy!</span></h1>
<input type="text" class="form-control" [(ngModel)]="text">
<h1>{{text | gopnikPipe}}</h1>
<audio id="hardbass" autoplay loop [muted]="mute">
  <source src="../assets/Cheeki Breeki Hardbass Anthem.mp3" type="audio/mpeg">
</audio>
<span class="glyphicon volume-controll"
  [class.glyphicon-volume-up]="music"
  [class.glyphicon-volume-off]="!music" 
  (click)="controllMusic()">
</span>
